* {
  box-sizing: border-box;
  /*inhabilita el padding para evitar el descuadre del layaout*/
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  width: 100%;
  float: left;
}
.column2 {
  width: 50%;
  float: left;
}
.column3 {
  width: 33.333333%;
  float: left;
}
.column4 {
  width: 11.111111%;
  float: left;
}
.column5 {
  width: 20%;
  float: left;
}
.column6 {
  width: 77.77777%;
  float: left;
}
.columnImg {
  width: 10%;
  float: left;
}
.colmnImg2 {
  width: 25%;
  float: left;
}
#index {
  margin: 0;
  padding: 0;
}
#index section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(100deg, #02111B, #30292F);
  background-size: 200% 200%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
#index h1,
#index form {
  text-align: center;
}
#index h1 {
  font-size: 50px;
  letter-spacing: 2px;
  padding: 1%;
  border: solid 3px #FCFCFC;
  border-radius: 25px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  color: #FCFCFC;
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v22/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
#index input {
  background-color: #3F4045;
  color: #5D737E;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-family: monospace;
  position: absolute;
  font-size: 20px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#index h3 {
  position: absolute;
  color: #FCFCFC;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'BhuTuka Expanded One', cursive;
}
@font-face {
  font-family: 'BhuTuka Expanded One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bhutukaexpandedone/v1/SLXXc0jZ4WUJcClHTtv0t7IaDRsBsWRiJCyX.ttf) format('truetype');
}
#Pantalla1 {
  background-color: #02111B;
}
#Pantalla1 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Pantalla1 #particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#Pantalla1 .nav {
  width: 800px;
  max-width: 90%;
  margin: 30px auto;
}
#Pantalla1 .stextos {
  list-style: none;
  display: flex;
  background-color: #3F4045;
}
#Pantalla1 .stextos li {
  width: 30%;
}
#Pantalla1 .stextos li a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 20px 0;
  text-align: center;
  color: black;
  font-family: 'Bodoni Moda', serif;
}
@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bodonimoda/v7/aFT67PxzY382XsXX63LUYL6GYFcan6NJrKp-VPjfJMShrpsGFUt8oU7awIA.ttf) format('truetype');
}
#Pantalla1 .secciones {
  width: 100%;
  background-color: #5D737E;
  height: 50vh;
}
#Pantalla1 .secciones h1 {
  text-align: center;
  padding-bottom: 5%;
}
#Pantalla1 article {
  padding: 30px;
}
#Pantalla1 article p {
  text-align: justify;
  font-size: 20px;
}
#Pantalla1 form {
  margin-top: 5%;
  left: 45%;
  position: absolute;
}
#Pantalla1 form input {
  margin-bottom: 2%;
}
#Pantalla1 form p {
  color: #FCFCFC;
  left: -2%;
  position: absolute;
}
@media (max-width: 700px) {
  #Pantalla1 li {
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}
@media (max-width: 450px) {
  #Pantalla1 a {
    padding: 15px;
  }
}
#pantalla2 {
  font-family: 'Cardo', serif;
  background-color: #02111B;
  font-size: 20px;
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cardo/v18/wlp_gwjKBV1pqiv_.ttf) format('truetype');
}
#pantalla2 header {
  background-color: #30292F;
  margin-left: 15%;
  width: 70%;
  top: 20%;
  transform: 50%,50%;
  border-radius: 25px;
  border: solid;
  border-color: #3F4045;
  box-shadow: 25px 25px 12px  5px;
  position: absolute;
  z-index: 99;
}
#pantalla2 p,
#pantalla2 form,
#pantalla2 h1 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
#pantalla2 p,
#pantalla2 h1 {
  color: #FCFCFC;
}
#pantalla2 input {
  background-color: #3F4045;
  color: #FCFCFC;
}
#pantalla2 #particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#pantalla3 {
  background-color: #02111B;
}
#pantalla3 h1 {
  text-align: center;
  color: #FCFCFC;
  padding-bottom: 5%;
}
#pantalla3 * {
  padding-left: 1%;
}
#pantalla3 body {
  background-color: #02111B;
}
#pantalla3 .container1,
#pantalla3 .container2 {
  width: 600px;
  height: 200px;
}
#pantalla3 form {
  margin-left: 40%;
}
#pantalla3 h3 {
  padding-left: 45%;
  color: #FCFCFC;
}
#pantalla3 .item {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
}
#pantalla3 .item1 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#pantalla3 .item1 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item2 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 20s ;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#pantalla3 .item2 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item3 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 15s ;
  transition-timing-function: cubic-bezier(0, 1.01, 1, -0.56);
  transition-delay: 0s;
}
#pantalla3 .item3 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item4 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1.36, 0.82, 0.26);
  transition-delay: 0s;
}
#pantalla3 .item4 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item5 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 5s ;
  transition-timing-function: cubic-bezier(0, 2.04, 0.97, -0.92);
  transition-delay: 0s;
}
#pantalla3 .item5 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item6 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 10s ;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#pantalla3 .item6 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item7 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 1s ;
  transition-timing-function: cubic-bezier(0, 0.88, 1, -0.61);
  transition-delay: 0s;
}
#pantalla3 .item7 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .item8 {
  background-color: #3F4045;
  width: 600px;
  height: 200px;
  margin: 20px;
  transition-property: background-color, width;
  transition-duration: 45s ;
  transition-timing-function: cubic-bezier(0.2, -0.26, 0, -0.54);
  transition-delay: 0s;
}
#pantalla3 .item8 p {
  color: #3F4045;
  padding-left: 20px;
}
#pantalla3 .container1:hover .item1 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container1:hover .item1 p {
  color: #02111B;
}
#pantalla3 .container2:hover .item2 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container2:hover .item2 p {
  color: #3F4045;
}
#pantalla3 .container3:hover .item3 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container3:hover .item3 p {
  color: toma to;
}
#pantalla3 .container4:hover .item4 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container4:hover .item4 p {
  color: #02111B;
}
#pantalla3 .container5:hover .item5 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container5:hover .item5 p {
  color: #3F4045;
}
#pantalla3 .container6:hover .item6 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container6:hover .item6 p {
  color: #3F4045;
}
#pantalla3 .container7:hover .item7 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container7:hover .item7 p {
  color: #3F4045;
}
#pantalla3 .container8:hover .item8 {
  background-color: #3F4045;
  width: 0px;
}
#pantalla3 .container8:hover .item8 p {
  color: #3F4045;
}
@media (max-width: 1280px) {
  #pantalla3 {
    padding-left: 10%;
  }
  #pantalla3 .column2 {
    width: 100%;
  }
  #pantalla3 .item {
    width: 2000px;
    margin: 0;
  }
}
#pantalla4 h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 70px;
}
#pantalla4 h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
}
#pantalla4 .TextoEjemplo {
  padding-top: 2%;
  padding-bottom: 0%;
}
#pantalla4 #Ajedrez {
  text-align: center;
}
#pantalla4 form {
  padding: 3%;
  text-align: center;
}
#pantalla4 #Explicacion {
  color: black;
  text-align: center;
  font-family: 'Lobster', cursive;
}
#pantalla4 #Img_Jugada {
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 80%;
}
#pantalla4 #piezas {
  background-size: cover;
  background-position: center;
  width: 21vw;
  height: 17vh;
}
#pantalla4 #Nombre_Piezas {
  text-align: left;
  padding-left: 8%;
}
#pantalla4 #Ejemplo {
  color: #8a8346;
}
#pantalla4 .column1 {
  text-align: center;
}
#pantalla4 .column7 {
  width: 25%;
  float: left;
  text-align: center;
  padding-bottom: 2%;
}
#pantalla4 .column8 {
  width: 30%;
  float: left;
  text-align: center;
  padding-top: 1%;
}
#pantalla4 .column9 {
  width: 10%;
  float: left;
  text-align: center;
  padding-bottom: 2%;
}
#pantalla4 #particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
@media only screen and (max-width: 1200px) {
  #pantalla4 .column1 {
    width: 100%;
  }
  #pantalla4 .column8 {
    width: 100%;
  }
  #pantalla4 .column7 {
    width: 100%;
  }
  #pantalla4 #piezas {
    width: 100%;
  }
  #pantalla4 #Nombre_Piezas {
    width: 100%;
  }
}
#pantalla5 {
  background-color: #02111B;
  color: #02111B;
}
#pantalla5 img {
  max-width: 60%;
  max-height: 50%;
}
#pantalla5 .img1 {
  max-width: 150px;
  max-height: 150px;
  top: 10%;
  left: 13%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 #colores {
  width: 100%;
  height: 90vh;
}
#pantalla5 .candado {
  background-color: #30292F;
  border-radius: 15px;
  box-shadow: black 15px 15px;
  border-color: #5D737E;
  width: 200px;
  height: 200px;
  top: 10%;
  left: 45%;
  transform: 50%,50%;
  position: absolute;
  z-index: 99;
}
#pantalla5 .llaves {
  background-color: #5D737E;
  width: 1000px;
  height: 100px;
  top: 50%;
  left: 20%;
  transform: 50%,50%;
  position: absolute;
  border-radius: 450px;
  border-color: #02111B;
  box-shadow: black 15px 15px;
  z-index: 99;
}
#pantalla5 .llave1 {
  top: 2%;
  left: 20%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 .llave2 {
  top: 2%;
  left: 35%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 .llave3 {
  top: 2%;
  left: 50%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 .llave4 {
  top: 2%;
  left: 65%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 .llave5 {
  top: 2%;
  left: 80%;
  transform: 50%,50%;
  position: absolute;
}
#pantalla5 #particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
@media (max-width: 1200px) {
  #pantalla5 .llaves {
    height: 200px;
    width: 600px;
  }
  #pantalla5 .llave1 {
    top: 2%;
    left: 30%;
    transform: 50%,50%;
    position: absolute;
  }
  #pantalla5 .llave2 {
    top: 2%;
    left: 40%;
    transform: 50%,50%;
    position: absolute;
  }
  #pantalla5 .llave3 {
    top: 2%;
    left: 50%;
    transform: 50%,50%;
    position: absolute;
  }
  #pantalla5 .llave4 {
    top: 50%;
    left: 30%;
    transform: 50%,50%;
    position: absolute;
  }
  #pantalla5 .llave5 {
    top: 50%;
    left: 45%;
    transform: 50%,50%;
    position: absolute;
  }
}
@media (max-width: 1200px) and (max-width: 800px) {
  #pantalla5 .llaves {
    height: 200px;
    width: 500px;
  }
}
#pantalla6 {
  background-color: #02111B;
}
#pantalla6 #particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#pantalla6 h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 70px;
  color: white;
}
#pantalla6 h3 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 20px;
  color: white;
}
#pantalla6 .tablero {
  background-position: center;
  padding-bottom: 1%;
  padding-top: 1%;
}
#pantalla6 .column1 {
  text-align: center;
}
#pantalla6 .respuestas {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
}
