* {
  box-sizing: border-box;
  /*inhabilita el padding para evitar el descuadre del layaout*/
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  width: 100%;
  float: left;
}
.column2 {
  width: 50%;
  float: left;
}
.column3 {
  width: 33.333333%;
  float: left;
}
.column4 {
  width: 11.111111%;
  float: left;
}
.column5 {
  width: 20%;
  float: left;
}
.column6 {
  width: 77.77777%;
  float: left;
}
#index h1,
#index h3,
#index form {
  text-align: center;
}
#index h1 {
  font-size: 80px;
  font-family: 'Lobster', cursive;
}
#index h4 {
  text-align: center;
  padding-top: 2%;
}
#index .i-enviar {
  font-size: 25px;
  text-align: center;
  background-color: aquamarine;
  height: 45px;
  width: 160px;
  font-family: 'Lobster', cursive;
}
#Pantalla1 .textos {
  text-align: center;
  text-align: justify;
  font-size: 17px;
}
#Pantalla1 .textos2 {
  padding-left: 2%;
}
#Pantalla1 .textos3 {
  padding-right: 2%;
}
#Pantalla1 h1 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: 'Lobster';
  font-size: 70px;
}
#Pantalla1 .column4 {
  text-align: left;
}
#Pantalla1 h3 {
  color: black;
  text-align: center;
  padding-bottom: 4%;
  font-family: 'Lobster', cursive;
}
#Pantalla1 h4 {
  text-align: center;
  padding-top: 2%;
}
#Pantalla1 form {
  padding: 3%;
  text-align: center;
}
#Pantalla1 b {
  font-size: 19px;
}
#pantalla2 p,
#pantalla2 form,
#pantalla2 h1 {
  text-align: center;
}
#pantalla2 h1 {
  padding-top: 10%;
}
#pantalla3 .item {
  background-color: tomato;
  width: 500px;
  height: 200px;
  margin: 20px;
  transition: background-color, width, 2s;
}
#pantalla3 .activador {
  background-color: aquamarine;
  width: 200px;
  color: red;
}
#pantalla3 .container:hover .item {
  background-color: aquamarine;
  width: 100px;
  transition: background-color, width, 2s;
}
